---
import Layout from "../layouts/Layout.astro";
import Photo from "../components/photo.astro";
import Textbox from "../components/textbox.astro";
import DimmerFullScreen from "../components/dimme-fullscreen.astro";
import Foreground from "../components/foreground.astro";
import Card from "../components/card.astro";
import GithubLink from "../components/github-link.astro";
---

<Layout title="La Purga de Halloween">
  <main class="main">
    <Photo />
    <Textbox />
    <DimmerFullScreen />
    <Foreground />
    <Card />
    <GithubLink />
  </main>
</Layout>
<style>
  .main {
    overflow: hidden;
  }
</style>

<script src="/src/js/main.js"></script>
