---
import IconGithub from "./icon-github.astro";
---

<a
  class="github-link"
  href="https://github.com/pablocazorla/lapurga"
  target="_blank"
  rel="noopener noreferrer"
  title="Ver proyecto en GitHub"
>
  <IconGithub />
</a>
<div class="prize">
  <div class="prize-content">
    1ยบ Premio Cloudinary CloudCreate: Spooky AI Hackathon
  </div>
</div>

<style>
  .github-link {
    position: fixed;
    z-index: 9999;
    top: 6px;
    right: 6px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px 0 0;
    text-align: center;
    color: #00d660;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .prize {
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    background-color: #00d660;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 50px;
    transform: translateY(41px) translateX(145px) rotate(45deg);
    opacity: 0.8;
  }
  .prize-content {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1e003a;
    box-shadow: none;
    font-size: 12px;
    text-align: center;
    text-wrap: balance;
    width: 200px;
    font-style: italic;
  }
</style>
