---
import IconGithub from "./icon-github.astro";
---

<a
  class="github-link"
  href="https://github.com/pablocazorla/lapurga"
  target="_blank"
  rel="noopener noreferrer"
  title="Ver proyecto en GitHub"
>
  <IconGithub />
</a>

<style>
  .github-link {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px 0 0;
    text-align: center;
    color: #00d660;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
</style>
